<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-left">
    <div style='height:100vh;'>
        <md-tabs md-selected='sidenavVM.ctrl.tabIndex' class='md-primary' layout-fill>
            <md-tab ng-repeat='(key, tab) in sidenavVM.tabs'>
                <md-tab-label>
                    <md-icon id='s99-sidenav-tab-icon-{{key}}' class='material-icons'>{{tab.icon}}</md-icon>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="tab.templateUrl"></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</md-sidenav>

<!-- <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-channel-list">
    <md-content>
    <div ng-include='"app/channel-list/channel-list.tpl.html"'></div>
    </md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-post-list">
    <md-content>
    <div ng-include='"app/post-list/post-list.tpl.html"'></div>
    </md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-search">
    <p>This is search pane in sidenav</p>
</md-sidenav>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-bookmarks">
    <p>This is bookmark list view in sidenav</p>
</md-sidenav>
 -->