<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-menu">
    <md-content>
    <div ng-include='"app/menu/menu.tpl.html"'></div>
    </md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-channel-list">
    <md-content>
    <div ng-include='"app/channel-list/channel-list.tpl.html"'></div>
    </md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-post-list">
    <md-content>
    <div ng-include='"app/post-list/post-list.tpl.html"'></div>
    </md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-search">
    <p>This is search pane in sidenav</p>
</md-sidenav>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-bookmarks">
    <p>This is bookmark list view in sidenav</p>
</md-sidenav>
