<div class='s99-post-item' style='margin:0px 5px'>
    <div layout='row'>
        <img ng-src="{{postItemVM.post.categoryIcon}}" class='s99-category-icon'>
        <md-subheader class='md-primary'>{{postItemVM.post.create_time | date:'yyyy-M-d HH:mm:ss'}}</md-subheader>
    </div>
    <div layout='row' layout-align='start center'>
        <img flex='40' ng-if='postItemVM.post.thumbnail'
        ng-src="{{postItemVM.post.thumbnail}}" class='s99-post-thumbnail'>
        <a id='post-{{postItemVM.post.id}}-link-read' ng-href='{{postItemVM.post.links.read}}' target='tab-s99-post-{{postItemVM.post.id}}'>
            <div flex layout-padding layout-fill class='s99-post-title'>
                {{postItemVM.post.title}}
            </div>
        </a>
    </div>
</div>