<md-dialog id='s99-dialog-locator' aria-label="Locator" ng-cloak>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>地址搜尋</h2>
        <span flex></span>
        <md-button id='s99-dialog-locator-button-cancel'
        class="md-icon-button"
        ng-click="locatorVM.cancel()">
            <md-icon class="material-icons">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content layout-padding>
    <md-autocomplete id='s99-input-locator-search-text'
    placeholder='請輸入地址或選擇您的位置'
    md-selected-item='locatorVM.inputCtrl.selectedLocation'
    md-search-text='locatorVM.inputCtrl.searchText'
    md-items='location in locatorVM.inputCtrl.querySearch(locatorVM.inputCtrl.searchText)'
    md-item-text='location.title'
    md-min-length='0'>
        <md-item-template>
            <div class='s99-items-locator-address' layout='row'>
                <md-icon layout-margin class='material-icons' ng-if='location.icon'>{{location.icon}}</md-icon>
                <div layout='column' flex layout-align='center start'style='line-height:24px;'>
                    <span ng-if='location.title' md-highlight-text="locatorVM.inputCtrl.searchText" md-highlight-flags="gi">{{location.title}}</span>
                    <div ng-if='location.address' md-highlight-text="locatorVM.inputCtrl.searchText" md-highlight-flags="gi" class='md-caption'>{{location.address}}</div>
                </div>
            </div>
        </md-item-template>
    </md-autocomplete>
</md-dialog-content>
<md-dialog-actions layout="row">
    <span flex></span>
    <md-button id='s99-dialog-locator-button-confirm'
    class='md-primary md-raised'
    ng-click="locatorVM.confirm()">
    確定
    </md-button>
</md-dialog-actions>
</md-dialog>