.s99-station-logo {
    width:40px;
    height:40px;
    border-radius: 10%;
}

.s99-station-logo-offline {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.s99-station-title {

}

.s99-station-description {
    
}

.s99-station-offline {
    color: red;
}