<div layout='row' layout-align='space-between center'>
    <md-checkbox ng-model='channelListviewVM.channel.isChecked' aria-label='Check' layout-margin flex=10></md-checkbox>        
    <a class='s99-a-link' href="{{channelListviewVM.channel.introUrl}}" layout='row' layout-align='start center' flex>
        <img class='s99-channel-logo'
        ng-class='{"s99-channel-logo-offline": channelListviewVM.channel.isOffline}'
        ng-src='{{channelListviewVM.channel.logoUrl}}'layout-margin />
        <md-list-item class='md-3-line'>
        <div layout='column' class='md-list-item-text' flex>
            <h3 class='s99-channel-title'>{{channelListviewVM.channel.title}}</h3>
            <p class='s99-channel-description'>{{channelListviewVM.channel.description}}</p>
            <p class='s99-channel-offline' ng-show='channelListviewVM.channel.isOffline'>電台目前無法連線...</p>
        </div>
        </md-list-item>
    </a>
    <md-button class='md-fab md-mini md-primary' ng-disabled='channelListviewVM.channel.isOffline' aria-label='GO'>
        <md-icon class='material-icons'>power</md-icon>
    </md-button>
</div>