<div ng-controller="ToolbarController as toolbarVM">
    <md-toolbar>
        <div class='md-toolbar-tools' ng-cloak>
            <img class='s99-station-logo'
            ng-class='{"s99-station-logo-offline": stationListviewVM.station.isOffline}'
            ng-src='{{toolbarVM.station.logoUrl}}'/>
            <div layout-margin hide-xs class='s99-station-title'>{{toolbarVM.station.title}}</div>
            <div class='s99-menu-buttons'>
                <md-button ng-repeat='(key, button) in toolbarVM.viewButtons' id='menu-button-{{key}}' class='md-fab md-mini s99-show-bounceInDown' ng-hide='button.hide'>
                    <md-icon class='material-icons' ng-click="toolbarVM.gotoView(button.viewPath)">{{button.icon}}</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
</div>