<div ng-controller="SearchController as searchVM">
    <div style='margin: 20px 10px;'>
        <div class='md-subhead'>使用關鍵字搜尋標題</div>
        <md-chips
        ng-model='searchVM.keywords'
        readonly='searchVM.chipsReadonly'
        placeholder='增加關鍵字'
        secondary-placeholder='輸入關鍵字'>
        </md-chips>
        <br>
        <div class='md-subhead'>切換分類顯示</div>
        <div layout='row' layout-padding layout-wrap>
            <div ng-repeat="(key, category) in searchVM.categories">
                <img class='s99-category-icon s99-click-no-outline'
                ng-class='{"s99-transparent-image": category.show === false}'
                ng-src='{{(category.icon && category.icon.url) || category.icon
                || "https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png"}}'
                ng-click='searchVM.toggleCategoryShow(key)'>
                <md-tooltip>{{(key == 'misc' && '其他') || category.title || key}}</md-tooltip>
            </div>
<!--             <div>
                <img class='s99-category-icon'
                src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png">
                <md-tooltip>其他</md-tooltip>                
            </div>
 -->        </div>
        <div layout='row' layout-align='space-between center'>
            <md-button class='md-raised' ng-click="searchVM.showAllCategories()">全部顯示</md-button>
            <md-button class='md-raised' ng-click="searchVM.hideAllCategories()">全部隱藏</md-button>
        </div>
    </div>
</div>