<md-content id='s99-post-filter'
ng-controller='PostFilterController as postFilterVM'>
    <div style='margin: 20px 10px;'>
        <md-subheader class='md-primary'>使用關鍵字搜尋標題</md-subheader>
        <md-chips id='s99-input-post-filter-keywords'
        ng-model='postFilterVM.postFilter.keywords'
        readonly='postFilterVM.chipsReadonly'
        placeholder='增加關鍵字'
        secondary-placeholder='輸入關鍵字'
        md-on-add='postFilterVM.postFilter.onChange()'
        md-on-remove='postFilterVM.postFilter.onChange()'>
        </md-chips>
        <md-divider></md-divider>
        <br>
        <md-subheader class='md-primary'>發佈日期</md-subheader>
        <div ng-show='postFilterVM.postFilter.createTime.preset=="custom"'>
            <div layout='row'>
                <span>從...</span>
                <md-datepicker id='s99-input-dateperiod-start'
                ng-model='postFilterVM.postFilter.createTime.start'
                ng-change='postFilterVM.postFilter.onChangeDatePeriod()'
                md-placeholder='開始日期'>
                </md-datepicker>
            </div>
            <div layout='row'>
                <span>到...</span>
                <md-datepicker id='s99-input-dateperiod-end'
                ng-model='postFilterVM.postFilter.createTime.end'
                ng-change='postFilterVM.postFilter.onChangeDatePeriod()'
                md-placeholder='結束日期'>
                </md-datepicker>
            </div>
        </div>
        <md-select id='s99-select-dateperiod-preset'
        ng-model='postFilterVM.postFilter.createTime.preset'
        ng-change='postFilterVM.postFilter.onChangeDatePeriod()'
        aria-label='Select Date Range Preset'>
            <md-option ng-repeat='(key, datePeriodPreset) in postFilterVM.datePeriodPresets' value='{{key}}'>
            {{datePeriodPreset.title}}
            </md-option>
        </md-select>
        <br>
        <div>
            <md-subheader class='md-primary'>
            <md-checkbox ng-model='postFilterVM.postFilter.isEvent'
            ng-change='postFilterVM.postFilter.onChange()'>事件</md-checkbox>
            </md-subheader>
            <div ng-show='postFilterVM.postFilter.isEvent'>
                <div>
                    <md-datepicker ng-model='postFilterVM.postFilter.event.start'
                    ng-change='postFilterVM.postFilter.onChange()'>
                    </md-datepicker>
                    <span>之後開始</span>
                </div>
                <div>
                    <md-datepicker ng-model='postFilterVM.postFilter.event.end'
                    ng-change='postFilterVM.postFilter.onChange()'>
                    </md-datepicker>
                    <span>之前結束</span>
                </div>
            </div>
        </div>
        <br>
        <md-subheader class='md-primary'>分類顯示</md-subheader>
        <div layout='row' layout-padding layout-wrap>
            <div ng-repeat="(key, category) in postFilterVM.category.categories"
            class='s99-button-toggle-category-visible'>
                <img class='s99-category-icon s99-click-no-outline'
                ng-class='{"s99-transparent-image": category.visible == false}'
                ng-src='{{category.icon.url}}'
                ng-click='postFilterVM.toggleVisible(key)'>
                <md-tooltip>{{category.title || key}}</md-tooltip>
            </div>
        </div>
        <div layout='row' layout-align='space-between center'>
            <md-button id='s99-button-show-all-categories' class='md-raised'
            ng-click="postFilterVM.showAll()">全部顯示</md-button>
            <md-button id='s99-button-hide-all-categories' class='md-raised'
            ng-click="postFilterVM.hideAll()">全部隱藏</md-button>
        </div>
    </div>
</md-content>