<h5>Debug Window</h5>
<div>
    <span>Map Center: </span>
    <span id='s99-debug-map-center-latitude'>{{mapDebugVM.map.center.latitude | number:6}}</span>
    <span>, </span>
    <span id='s99-debug-map-center-longitude'>{{mapDebugVM.map.center.longitude | number:6}}</span>
</div>
<div>
    <span>Map Zoom Level: </span>
    <span id='s99-debug-map-zoom'>{{mapDebugVM.map.zoom}}</span>
</div>
<div>
    <span># of Posts: </span>
    <span id='s99-debug-number-posts'>{{mapDebugVM.posts.length}}</span>
</div>

