<h5>Debug Window</h5>
<div>
    <span>Map Center: </span>
    <span id='s99-debug-map-center-latitude'>{{mapDebugVM.map.center.latitude | number:6}}</span>
    <span>, </span>
    <span id='s99-debug-map-center-longitude'>{{mapDebugVM.map.center.longitude | number:6}}</span>
</div>
<div>
    <div><span>Map Bounds: </span></div>
    <div>
        <span>South West</span>
        <span id='s99-debug-map-bounds-southwest-latitude'>{{mapDebugVM.map.bounds.southwest.latitude | number:6}}</span>
        <span>, </span>
        <span id='s99-debug-map-southwest-longitude'>{{mapDebugVM.map.bounds.southwest.longitude | number:6}}</span>
    </div>
    <div>
        <span>North East</span>
        <span id='s99-debug-map-bounds-southwest-latitude'>{{mapDebugVM.map.bounds.northeast.latitude | number:6}}</span>
        <span>, </span>
        <span id='s99-debug-map-southwest-longitude'>{{mapDebugVM.map.bounds.northeast.longitude | number:6}}</span>
    </div>
</div>
<div>
    <span>Map Zoom Level: </span>
    <span id='s99-debug-map-zoom'>{{mapDebugVM.map.zoom}}</span>
</div>
<div>
    <span># of Posts: </span>
    <span id='s99-debug-number-posts'>{{mapDebugVM.posts.length}}</span>
</div>

