<div style='position:relative;'>
<ui-gmap-google-map center='mapVM.map.center' zoom='mapVM.map.zoom'
bounds='mapVM.map.bounds' events='mapVM.events'>
</ui-gmap-google-map>
<!-- <div style='position:absolute;top:0px;right:0px;' layout='column'>
    <md-button class='md-fab md-mini md-accent s99-show-flipInX'
    ng-hide='mapVM.isDragging'
    ng-click="mapVM.locate($event)">
        <md-icon class='material-icons'>my_location</md-icon>
    </md-button>
    <md-button class='md-fab md-mini md-accent s99-show-flipInX'
    ng-hide='mapVM.isDragging || !mapVM.showListButton'
    ng-click="mapVM.openPostList()">
        <md-icon class='material-icons'>view_list</md-icon>
    </md-button>    
</div>
 --><!-- <p>Bounds:
North East: {{mapVM.map.bounds.northeast.latitude}}, {{mapVM.map.bounds.northeast.longitude}}
Southwest: {{mapVM.map.bounds.southwest.latitude}}, {{mapVM.map.bounds.southwest.longitude}}
</p>
 -->
 </div>
 