<div id='s99-channel-list' ng-controller='ChannelListController as channelListVM'>
    <md-content>
        <div ng-repeat="(id, channel) in channelListVM.channels">
            <s99-channel-item channel='channel' focus-on='channelListVM.focusOn'></s99-channel-item>
            <md-divider layout-margin></md-divider>
        </div>
<!--         <div ng-show='channelListVM.lodash.isEmpty(channelListVM.channels)' layout-padding>
            <p class='s99-input-hint'>您的頻道列表中沒有任何頻道，可以到頻道庫瀏覽，選擇喜愛的頻道匯入。
            </p>
        </div>
 --><!--         <div layout='row' layout-align='end center'>
            <span></span>
            <div>
                <md-button id='link-to-repo' class='md-primary' ng-href='{{channelListVM.repositoryLink}}' target='spirit99-station'>瀏覽頻道庫</md-button>
            </div>
        </div>
 -->
    </md-content>
</div>