.s99-channel-item {
    min-height: 80px;
}

.s99-channel-logo {
    width:40px;
    height:40px;
    border-radius: 10%;
}

.s99-channel-logo-offline {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.s99-channel-title {
    font-weight: bold;
}

.s99-channel-description {
    font-size: 50%;
}

.s99-channel-offline {
    color: red;
    font-size: 50%;
    font-style: italic;
}