<div layout='row' layout-align='start start' class='s99-channel-item'>
    <img class='s99-channel-logo s99-click-no-outline'
        ng-class='{"s99-channel-logo-offline": channelItemVM.channel.isOffline}'
        ng-src='{{channelItemVM.channel.logoUrl}}' layout-margin
        ng-click="channelItemVM.toggleFocus()"/>
    <div layout='column' flex class='s99-click-no-outline'
    ng-click="channelItemVM.toggleFocus()">
        <div class='s99-channel-title'>{{channelItemVM.channel.title}}</div>
        <div layout='column' flex class='s99-show-lightSpeedIn'
        ng-hide='channelItemVM.focusOn == channelItemVM.channel.id'>
            <div class='s99-channel-description'>{{channelItemVM.channel.description}}</div>
            <div class='s99-channel-offline' ng-show='channelItemVM.channel.isOffline'>電台目前無法連線...</div>
        </div>
        <div layout='row' layout-align='space-around center' flex
        class='s99-show-lightSpeedIn'
        ng-show='channelItemVM.focusOn == channelItemVM.channel.id'>
            <md-button class='md-icon-button'
                ng-click="$event.stopPropagation();">
                <md-icon class='material-icons'>close</md-icon>
            </md-button>
            <md-button class='md-icon-button'
                ng-click="$event.stopPropagation();">
                <md-icon class='material-icons'>info</md-icon>
            </md-button>
            <md-button class='md-icon-button'
            id='s99-button-tune-in-{{channelItemVM.channel.id}}'
            ng-click="$event.stopPropagation(); channelItemVM.tuneIn(channelItemVM.channel.id)">
                <md-icon class='material-icons'>play_arrow</md-icon>
            </md-button>
        </div>
    </div>
</div>
