<div id='s99-channel-list' ng-controller='ChannelListController as channelListVM'>
    <md-content>
        <div ng-repeat="(id, channel) in channelListVM.channels">
            <s99-channel-item channel='channel' focus-on='channelListVM.focusOn'></s99-channel-item>
            <md-divider layout-margin></md-divider>
        </div>
        <div layout='row'>
            <md-input-container class='md-block' flex>
                <input name='newPortalUrl' ng-model='channelListVM.newPortalUrl' placeholder='加入新的頻道'>
                <div class='s99-input-hint'>請輸入頻道傳送門(Portal)網址</div>
            </md-input-container>
            <md-button class='md-fab md-mini' id='add-channel'
            ng-click="channelListVM.addChannel(channelListVM.newPortalUrl)">
                <md-icon class='material-icons'>add</md-icon>
            </md-button>
        </div>
        <div layout='row' layout-align='end center'>
            <span>或者...</span>
            <div>
                <md-button id='link-to-repo' class='md-primary' ng-href='{{channelListVM.repositoryLink}}'>瀏覽頻道庫</md-button>
            </div>
        </div>
    </md-content>
</div>