<md-toolbar id='s99-main-toolbar'>
    <div class='md-toolbar-tools' ng-cloak>
        <div class='s99-clickable' id='s99-open-sidenav-channels'
        ng-click='toolbarVM.openSidenav("channels")'>
            <div layout='row' layout-align='start center'>
                <div ng-show="toolbarVM.isLoading"
                id='s99-progress-loading-posts'>
                    <md-progress-circular md-mode="indeterminate"
                    class='md-warn'>
                    </md-progress-circular>
                </div>
                <div ng-hide="toolbarVM.isLoading">
                    <div ng-if='!(toolbarVM.channel)'>
                        <md-button class='md-icon-button'>
                            <md-icon class='material-icons'>radio</md-icon>
                        </md-button>
                    </div>
                    <div ng-if='toolbarVM.channel'>
                        <img class='s99-channel-logo s99-button' id='s99-channel-logo'
                        ng-class='{"s99-channel-logo-offline": toolbarVM.channel.isOffline}'
                        ng-src='{{toolbarVM.channel["logo-url"]}}'>
                    </div>                    
                </div>
                <div hide-xs>
                    <p ng-if='!(toolbarVM.channel)'
                    id='s99-no-channel-tuned-prompt'>請選擇頻道</p>
                    <p ng-if='toolbarVM.channel'
                    class='s99-channel-title' channel-id='{{toolbarVM.channel.id}}'>
                        {{toolbarVM.channel.title}}
                    </p>                    
                </div>
            </div>
        </div>
<!--            <div hide-xs flex>
                <md-chips ng-model='toolbarVM.keywords' readonly='toolbarVM.readonly' placeholder='增加關鍵字' secondary-placeholder='搜尋標題'></md-chips>
            </div>
            <div flex></div>
            <div>
                <md-button id='bookmarks-button' class='md-icon-button' ng-click="toolbarVM.openSidenav('bookmark-list')">
                    <md-icon class='material-icons'>bookmark</md-icon>
                </md-button>
            </div>
            <div>
                <md-button id='search-button' class='md-icon-button' ng-click="toolbarVM.openSidenav('search')">
                    <md-icon class='material-icons'>search</md-icon>
                </md-button>
            </div>
-->
        <span flex></span>
        <div>
<!--             <md-button id='s99-open-sidenav-filter' class='md-icon-button' ng-click="toolbarVM.openSidenav('filter')">
                <md-icon class='material-icons'>search</md-icon>
            </md-button>
 -->            
            <md-button id='s99-button-open-menu' class='md-icon-button' ng-click="toolbarVM.openSidenav()">
                <md-icon class='material-icons'>more_vert</md-icon>
            </md-button>
        </div>
    </div>
 </md-toolbar>
