<md-toolbar>
    <div class='md-toolbar-tools' ng-cloak>
    <p>{{toolbarVM.title}}</p>
<!--             <div layout='row' ng-click='toolbarVM.openSidenav("channel-list")'>
                <img class='s99-channel-logo s99-button'
                ng-class='{"s99-channel-logo-offline": channelListviewVM.channel.isOffline}'
                ng-src='{{toolbarVM.channel.logoUrl}}'>
                <p layout-margin hide-xs class='s99-channel-title'>{{toolbarVM.channel.title}}</p>
            </div>
            <div hide-xs flex>
                <md-chips ng-model='toolbarVM.keywords' readonly='toolbarVM.readonly' placeholder='增加關鍵字' secondary-placeholder='搜尋標題'></md-chips>
            </div>
            <div flex></div>
            <div>
                <md-button id='bookmarks-button' class='md-icon-button' ng-click="toolbarVM.openSidenav('bookmark-list')">
                    <md-icon class='material-icons'>bookmark</md-icon>
                </md-button>
            </div>
            <div>
                <md-button id='search-button' class='md-icon-button' ng-click="toolbarVM.openSidenav('search')">
                    <md-icon class='material-icons'>search</md-icon>
                </md-button>
            </div>
-->
        <span flex></span>
        <div>
            <md-button id='menu-button' class='md-icon-button' ng-click="toolbarVM.open('settings')">
                <md-icon class='material-icons'>menu</md-icon>
            </md-button>
        </div>
    </div>
 </md-toolbar>
