<md-content ng-controller="ChannelListController as channelListVM">
    <div layout='row'>
        <md-input-container class='md-block' layout-fill flex>
            <input ng-model='channelListVM.newPortalUrl' placeholder='連結新的電台'>
            <div class='md-caption'>請輸入電台傳送門網址</div>
        </md-input-container>
        <md-button class='md-fab md-mini'
        ng-click="channelListVM.addNewChannel()">
            <md-icon class='material-icons'>cast_connected</md-icon>
        </md-button>
    </div>
    <div ng-repeat="(id, channel) in channelListVM.channels">
        <s99-channel-item channel='channel'></s99-channel-item>
        <md-divider layout-margin ng-if="!$last"></md-divider>
    </div>
</md-content>