<md-dialog aria-label='找尋地點' ng-cloak>
    <md-autocomplete
    placeholder='請輸入地址或選擇您的位置'
    md-selected-item='locaterVM.inputCtrl.selectedLocation'
    md-search-text='locaterVM.inputCtrl.searchText'
    md-items='location in locaterVM.inputCtrl.querySearch(locaterVM.inputCtrl.searchText)'
    md-item-text='location.title'
    md-min-length='0'>
        <md-item-template>
            <div layout='row'>
                <md-icon layout-margin class='material-icons' ng-if='location.icon'>{{location.icon}}</md-icon>
                <div layout='column' flex layout-align='center start'style='line-height:24px;'>
                    <span ng-if='location.title' md-highlight-text="locaterVM.inputCtrl.searchText" md-highlight-flags="gi">{{location.title}}</span>
                    <div ng-if='location.address' md-highlight-text="locaterVM.inputCtrl.searchText" md-highlight-flags="gi" class='md-caption'>{{location.address}}</div>
                </div>
            </div>
        </md-item-template>
    </md-autocomplete>
    <div layout='row' layout-align='space-between center'>
        <md-button class='md-primary md-raised'
        ng-click='locaterVM.confirm()'>
            確定
        </md-button>
        <md-button class='md-primary md-raised'
        ng-click="locaterVM.cancel()">
            取消
        </md-button>
    </div>
</md-dialog>