<div layout='row' layout-align='space-between center'>
    <md-checkbox ng-model='stationListviewVM.station.isChecked' aria-label='Check' layout-margin flex=10></md-checkbox>        
    <a class='s99-a-link' href="{{stationListviewVM.station.introUrl}}" layout='row' layout-align='start center' flex>
        <img class='s99-station-logo'
        ng-class='{"s99-station-logo-offline": stationListviewVM.station.isOffline}'
        ng-src='{{stationListviewVM.station.logoUrl}}'layout-margin />
        <md-list-item class='md-3-line'>
        <div layout='column' class='md-list-item-text' flex>
            <h3 class='s99-station-title'>{{stationListviewVM.station.title}}</h3>
            <p class='s99-station-description'>{{stationListviewVM.station.description}}</p>
            <p class='s99-station-offline' ng-show='stationListviewVM.station.isOffline'>電台目前無法連線...</p>
        </div>
        </md-list-item>
    </a>
    <md-button class='md-fab md-mini md-primary' ng-disabled='stationListviewVM.station.isOffline' aria-label='GO'>
        <md-icon class='material-icons'>power</md-icon>
    </md-button>
</div>